/* HERO */
.hero-section {
    background-color: yellow;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.743), transparent), url(../img/pexels-pixabay-434258.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 180px;
}

.hero-section h1 {
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
}

.btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
}

/* WELCOME */
.welcome {
    min-height: 100vh;
    padding: 100px;
}

.welcome h2 {
    font-size: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    margin: 0 auto;
}

.card {
    width: 310px;
    min-height: 460px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    border-radius: 5px;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 210px;
    height: 210px;
    border-radius: 100%;
}

.card-title {
    text-transform: uppercase;
}
